<!-- Vista del acontecimiento que hemos seleccionado, aparece la información de ese acontecimiento -->
<ion-view view-title="acontecimientoSeleccionado">
    <ion-content>
        <div class="button-bar">
            <a href="#/inicio" class="button">Inicio</a>
            <a href="#/buscar" class="button">Buscar</a>
            <a href="#/camara" class="button">C&aacute;mara de fotos</a>
        </div>

        <ul class="list">
            <li class="item">
                <h2>Nombre: </h2>{{listaAcontecimientosLocal[0].Nombre}}
            </li>
            <li class="item">
                <h2>Organizador: </h2>{{listaAcontecimientosLocal[0].Organizador}}
            </li>
            <li class="item">
                <h2>Descripcion: </h2>{{listaAcontecimientosLocal[0].Descripcion}}
            </li>
            <li class="item">
                <h2>Tipo: </h2>{{listaAcontecimientosLocal[0].Tipo}}
            </li>
            <li class="item">
                <h2>Telefono: </h2>{{listaAcontecimientosLocal[0].Telefono}}
            </li>
            <li class="item">
                <h2>Email: </h2>{{listaAcontecimientosLocal[0].Email}}
            </li>
            <li class="item">
                <h2>Provincia: </h2>{{listaAcontecimientosLocal[0].Provincia}}
            </li>
            <li class="item">
                <h2>Poblacion: </h2>{{listaAcontecimientosLocal[0].Poblacion}}
            </li>
            <li class="item">
                <h2>Codigo_Postal: </h2>{{listaAcontecimientosLocal[0].Codigo_Postal}}
            </li>
            <li class="item">
                <h2>Direccion: </h2>{{listaAcontecimientosLocal[0].Direccion}}
            </li>
            <li class="item">
                <h2>Web: </h2>{{listaAcontecimientosLocal[0].Web}}
            </li>
            <li class="item">
                <h2>Facebook: </h2>{{listaAcontecimientosLocal[0].Facebook}}
            </li>
            <li class="item">
                <h2>Twitter: </h2>{{listaAcontecimientosLocal[0].Twitter}}
            </li>
            <li class="item">
                <h2>Inicio: </h2>{{listaAcontecimientosLocal[0].Inicio}}
            </li>
            <li class="item">
                <h2>Fin: </h2>{{listaAcontecimientosLocal[0].Fin}}
            </li>
            <li class="item">
                <h2>Ubicacion: </h2>{{listaAcontecimientosLocal[0].Ubicacion}}
            </li>
            <li class="item">
                <h2>Longitud y Latitud: </h2>{{listaAcontecimientosLocal[0].Longitud}} / {{listaAcontecimientosLocal[0].Latitud}}
                <a href="#/mapa"><i class="icon ion-location"></i>Ir a mapa</a>
            </li>
        </ul>

    </ion-content>
</ion-view>