<!-- Vista para buscar, encontramos 3 select que se cargan dependiendo de los datos del servidor rest, excepto el último, que es fijo, por la fecha -->
<ion-view view-title="buscar">
    <ion-content>
        <div class="button-bar">
            <a href="#/inicio" class="button">Inicio</a>
            <a href="#/buscar" class="button">Buscar</a>
            <a href="#/camara" class="button">C&aacute;mara de fotos</a>    
        </div>

        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Provincia
                </div>

                <select ng-model="provincia" ng-change="buscarTipo(provincia)">
                    <option ng-repeat="datos in Provincias" value="{{datos.Provincia}}">{{ datos.Provincia }}</option>
                </select>
            </label>



            <label class="item item-input item-select">
                <div class="input-label">
                    Tipo
                </div>
                <select ng-model="tipoSeleccionado">
                    <option ng-repeat="hayTipos in Tipo" value="{{hayTipos.Tipo}}">{{hayTipos.Tipo}}</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Fecha
                </div>
                <select ng-model="fechaSeleccionado" ng-change="buscarAcontecimientos(provincia, tipoSeleccionado, fechaSeleccionado)">
                    <option value="Pasado">Pasado</option>
                    <option value="Presente">Presente</option>
                    <option value="Futuro">Futuro</option>
                </select>
            </label>

            <a href="#/listar_acontecimientos_buscados" class="button">Buscar</a>
            <!--<button class="button button-full button-dark" href="#/listar_acontecimientos_buscados">
                Buscar
            </button>-->
            <br/> {{resultadoBusquedaAcontecimientos}}
        </div>
    </ion-content>
</ion-view>