<!-- Vista para la cámara -->
<ion-view view-title="camara">
    <ion-content>
               <div class="button-bar">
                <a href="#/inicio" class="button">Inicio</a>
                <a href="#/buscar" class="button">Buscar</a>
                <a href="#/camara" class="button">C&aacute;mara de fotos</a>
            </div>
        <h3 class="text-center">Hacer Foto</h3>
 
        <br/>
        <br/>
 
        <button class="button button-block button-positive" ng-click="takePicture()">
            Tomar foto
        </button>
 
        <img class="padding" ng-src="{{imgSrc}}">
    </ion-content>
</ion-view>