<!-- vista para un evento seleccionado, no se ha realizado -->
<ion-view view-title="eventoSeleccionado">
    <ion-content>
        <div class="button-bar">
            <a href="#/inicio" class="button">Inicio</a>
            <a href="#/buscar" class="button">Buscar</a>
            <a href="#/camara" class="button">C&aacute;mara de fotos</a>
        </div>

    </ion-content>
</ion-view>