<!-- vista para inicio, aparece una lista de cards con la información de un acontecimiento, al pulsar en uno de ellos 
    nos vamos a la vista que muestra toda la información del acontecimiento -->
<ion-view view-title="inicio">
    <ion-content>
        <div class="button-bar">
            <a href="#/inicio" class="button">Inicio</a>
            <a href="#/buscar" class="button">Buscar</a>
            <a href="#/camara" class="button">C&aacute;mara de fotos</a>
        </div>

        <div class="list card" ng-model="idSeleccionado" ng-repeat="ac in listaAcontecimientosLocal">
            <div class="item item-body">
                <h2>
                    <a href="#/acontecimientoSeleccionado" class="item item-icon-right" ng-click="setAcontecimiento(ac.Id)"> 
                  <!-- <a ui-sref="#/acontecimientoSeleccionado/(idSeleccionado: ac.id})">-->
                        Nombre: {{ac.Nombre}}
                    </a>
                </h2>
                <h3>Organizador: {{ac.Organizador}}</h3>
                <h3>Tipo: {{ac.Tipo}}</h3>
                <h3>Ubicaci&oacute;n: {{ac.Ubicacion}}</h3>
            </div>
        </div>
    </ion-content>
</ion-view>