<!-- vista para mostrar una lista de los eventos de un acontecimiento, pero no se ha desarrollado -->
<ion-view view-title="listaEventosPorAcontecimiento">
    <ion-content>
        <div class="button-bar">
            <a href="#/inicio" class="button">Inicio</a>
            <a href="#/buscar" class="button">Buscar</a>
            <a href="#/camara" class="button">C&aacute;mara de fotos</a>
        </div>

    </ion-content>
</ion-view>