<!-- vista para poder ver el resultado de la búsqueda de acontecimientos -->
<ion-view view-title="listar_acontecimientos_buscados">
    <ion-content>
        <div class="button-bar">
            <a href="#/inicio" class="button">Inicio</a>
            <a href="#/buscar" class="button">Buscar</a>
            <a href="#/camara" class="button">C&aacute;mara de fotos</a>
        </div>
        <div class="list card" ng-model="idSeleccionado" ng-repeat="ac in lista">

            <a href="#" class="item item-icon-right" value="{{ac.Id}}" ng-click="addAcontecimientoDB(ac.Id)">
                <i class="icon ion-plus-round"></i> ID {{ac.Id}} {{ac.Nombre}}
            </a>
        </div>
    </ion-content>
</ion-view>