<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtYzt4zSNaJjwpEUs_tVcr64idmQC42x0&sensor=true"></script>-->
<!-- vista para el mapa -->
<ion-view view-title="mapa">
    <ion-content>
        <div class="button-bar">
            <a href="#/inicio" class="button">Inicio</a>
            <a href="#/buscar" class="button">Buscar</a>
            <a href="#/camara" class="button">C&aacute;mara de fotos</a>
        </div>

        <!--<map on-create="mapCreated(map)"></map>
        <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate"></a>-->
        
        <div id="map" data-tap-disabled="true"></div>
        <a href="#" class="button" ng-click="localizame()">Local&iacute;zame</a>
    </ion-content>
</ion-view>